[user]
name = otofune
email = otofune@otofune.me

[include]
path = ~/.gitconfig-secret

[alias]
cehckout = checkout

[core]
excludesfile = ~/.gitignore-global

[ghq]
root = ~/.projects/src

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[push]
default = current
