[user]
name = otofune
email = 15062473+otofune@users.noreply.github.com

[include]
path = ~/.gitconfig-secret

[alias]
cehckout = checkout

[core]
excludesfile = ~/.gitignore-global
quotepath = false

[ghq]
root = ~/projects/src

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[push]
default = current
[pull]
	ff = only
[grep]
	lineNumber = true
